---
http_interactions:
- request:
    method: post
    uri: http://cluster-1.westeurope.cloud.swanager.com:4945/api/v1/users
    body:
      encoding: UTF-8
      string: '{"email":"test1@test.com","password":"testtest","password_confirmation":"testtest"}'
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"id":"71ad5d26-0937-b54a-a934-8fcd4abf5e9ace9af8ff28a7b474","email":"test1@test.com"}}

'
  recorded_at: Sat, 17 Jun 2017 04:13:49 GMT
recorded_with: VCR 3.0.3
