---
http_interactions:
- request:
    method: post
    uri: http://cluster-1.westeurope.cloud.swanager.com:4945/api/v1/session
    body:
      encoding: UTF-8
      string: '{"email":"test@test.com","password":"testtest"}'
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"token":{"token":"22bbf3ed-4cae-e617-331f-e564d2c777d0102304475d443e55","user":{"id":"53d93e54-8fa7-df9b-d081-a42ff368d5222f781624b38b44f3","email":"test@test.com"},"last_used":"2017-06-17T04:13:49.654410266Z"}}

'
  recorded_at: Sat, 17 Jun 2017 04:13:49 GMT
recorded_with: VCR 3.0.3
